<form>
    <!--Header-->
    <div class="text-center">
      <h3 class="text-dark"><i class="fa fa-user text-dark"></i> Register</h3>
      <hr class="hr-dark">
    </div>

    <!--Body-->
    <div class="md-form">
      <input type="text" id="firstName" class="form-control" mdbInputDirective>
      <label for="firstName">First Name</label>
    </div>
    <div class="md-form">
      <input type="text" id="lastName" class="form-control" mdbInputDirective>
      <label for="lastName">Last Name</label>
    </div>
    <div class="md-form">
      <input type="text" id="email" class="form-control" mdbInputDirective>
      <label for="email">Your email</label>
    </div>

    <div class="md-form">
      <input type="password" id="psswd" class="form-control" mdbInputDirective>
      <label for="psswd">Your password</label>
    </div>

    <div class="text-center">
      <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect (click)="signUp()">Sign up</button>
    </div>
</form>
