<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-12">

    <mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto mt-2">
        <img src="../../../assets/images/default-profile.png" class="rounded-circle profile-img">
      </div>

      <mdb-card-body>
        <div class="text-right mr-5">
          <a data-toggle="modal" data-target="#basicExample" (click)="show('Some Value')" mdbWavesEffect>
              <i class="fa fa-pencil fa-2x"></i>
          </a>
        </div>
        <!--Name-->
        <mdb-card-title class="text-center">
          <h4>Anna Doe</h4>
          <h5>Admin</h5>
        </mdb-card-title>

      </mdb-card-body>
    </mdb-card>

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->

<div mdbModal #content="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit profile information {{ name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text" id="firstName" class="form-control validate" [formControl]="" mdbInputDirective [value]="name">
          <label data-error="wrong" data-success="right" for="firstName">First name</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Save</button>
      </div>
    </div>
  </div>
</div>
