<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light text-dark" mdbWavesEffect href="#"><i class="fa fa-car fa-2x"></i>&nbsp;&nbsp;<strong>MOTOR DRIVER LICENSING</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </links>
</mdb-navbar>
