<!--Main Navigation-->
<header>

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
          <!-- <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt=""> -->
          <i class="fa fa-car fa-3x"></i>
      </a>

      <div class="list-group list-group-flush">

          <a [routerLink]="['home']" routerLinkActive="router-link-active"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-pie-chart mr-3"></i>Dashboard
          </a>
          <a [routerLink]="['profile']" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-user mr-3"></i>Profile</a>
          <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-table mr-3"></i>Tables</a>
          <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-map mr-3"></i>Maps</a>
          <a routerLink="nonExistingPath" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-exclamation mr-3"></i>404</a>

      </div>

  </div>
  <!-- Sidebar -->

  <!--Navbar-->
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white" class="top-nav">

      <!-- Navbar brand -->
      <logo class="ml-3">
          <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
              <strong class="blue-text">MDB</strong>
          </a>
      </logo>

      <!-- Collapsible content -->
      <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" mdbWavesEffect>Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank" mdbWavesEffect>About MDB</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://mdbootstrap.com/angular/getting-started/" target="_blank" mdbWavesEffect>Free download</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://mdbootstrap.com/angular/angular-tutorial/" target="_blank" mdbWavesEffect>Free tutorials</a>
              </li>
          </ul>
          <!-- Links -->

          <!-- Search form -->
          <ul class="navbar-nav nav-flex-icons">

                  <li class="nav-item mr-4">
                      <div class="avatar mx-auto">
                        <span class="mr-3 font-italic font-weight-bold">admin@drivelicense.co.ug</span>
                        <img src="../../../assets/images/default-profile.png" alt="" class="rounded-circle z-depth-1 nav-img">
                      </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" mdbWavesEffect>
                        <i class="fa fa-sign-out mr-2 mt-2"></i>Logout
                    </a>
                  </li>
              </ul>
      </links>
      <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

</header>
<!--Main Navigation-->
