<!--Main Navigation-->
<header class="intro-header">

    <app-navigation-bar></app-navigation-bar>

    <!--Intro Section-->
    <section class="view intro-2">
        <div class="full-bg-img mask rgba-gradient">
            <div class="container flex-center">
                <div class="d-flex align-items-center content-height w-100">
                    <div class="row flex-center pt-5 mt-3 w-100">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <div class="text-dark">
                                <h2 class="h3 h3-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Welcome to motorist permit registration and licensing</h2>
                                <hr class="hr-dark wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                                <br>
                                <a mdbBtn color="dark" outline="true" class="wow fadeInLeft waves-light border-dark" data-wow-delay="0.3s" mdbWavesEffect>Explore &nbsp;<i class="fa fa-hand-o-right"></i></a>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body">
                                    <div *ngIf="actions.register">
                                      <app-register></app-register>
                                      <div class="text-center mt-4">
                                        <p>Already have an account? <a href="#" (click)="logInView()">Login</a></p>
                                      </div>
                                    </div>
                                    <div *ngIf="actions.login">
                                        <form>
                                          <!--Header-->
                                          <div class="text-center">
                                              <h3 class="text-dark"><i class="fa fa-user text-dark"></i> Login</h3>
                                              <hr class="hr-dark">
                                          </div>

                                          <!--Body-->
                                          <div class="md-form">
                                              <input type="text" id="form2" class="form-control" mdbInputDirective>
                                              <label for="form2">Your email</label>
                                          </div>

                                          <div class="md-form">
                                              <input type="password" id="form4" class="form-control" mdbInputDirective>
                                              <label for="form4">Your password</label>
                                          </div>

                                          <div class="text-center">
                                              <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect (click)="logIn()">Login</button>
                                          </div>
                                        </form>

                                        <div class="text-center">
                                          <p>OR</p>
                                          <p>Forgot your password</p>
                                        </div>

                                        <div class="text-center mt-4">
                                          <p>Do not yet have an account? <a href="#" (click)="signUpView()">Sign Up</a></p>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>
<!--Main Navigation-->
