.intro-header {
  height: unset !important;
}
//.intro-2 {
  // background: url("http://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;
  // background-size: cover;
//}
.view {
  height: 100vh !important;
}
.top-nav-collapse {
  background-color: #3f51b5 !important;
}
// .navbar:not(.top-nav-collapse) {

// }
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
  }
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}
.card {
  background-color: rgba(229, 228, 255, 0.2);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: #000000;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
      height: 1040px;
  }
}

hr {
  opacity: 0.15;
}
